*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;   
    
}
h1{
    font-size: medium;
}
p{
    font-size: 15px;
}
.container{
    margin: 50% auto;    
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    height: 800px;
    width: 300px;  
    text-align: center; 
}
.wrapper{
    width: 100%;   

}
img{
    width: 100%;
    border-radius: 20px;
}
.text{
    padding: 5px 5px;
    
}
.text h1{
    margin: 10px 0;
    font-size: 20px;
}
.text p{    
    color: hsl(220, 15%, 55%);
    margin: 10px 0 ;
    padding: 15px;
}